{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post" class="needs-validation" novalidate>
        <div class="form-row">
            <!-- 1st text field: first name -->
            <div class="col">
                <input type="text" autocomplete="off" name="first-name" class="form-control" placeholder="First name">
            </div>

            <!-- 2nd text field: last name -->
            <div class="col">
                <input type="text" autocomplete="off" name="last-name" class="form-control" placeholder="Last name">
            </div>

            <!-- Select menu: grade -->
            <div class="col">
                <select class="form-control" name="grade">
                    <option disabled selected value="">Grade</option>
                    <option value="Freshman">Freshman</option>
                    <option value="Sophomore">Sophomore</option>
                    <option value="Junior">Junior</option>
                    <option value="Senior">Senior</option>
                    <option value="Not in college">Not in college</option>
                </select>
            </div>
        </div>

        <p></p>

        <!-- Radio set with 4 buttons: favorite meal -->
        <p>What is your favorite meal?</p>
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="meal" type="radio" value="I don't like food">
                    I don't like food
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="meal" type="radio" value="Breakfast">
                    Breakfast
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="meal" type="radio" value="Lunch">
                    Lunch
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="meal" type="radio" value="Dinner">
                    Dinner
                </label>
            </div>
        </div>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit!</button>
    </form>

    <script>
        document.querySelector('form').onsubmit = function() {
            // Check if first name was provided
            if (!document.querySelector('input[name="first-name"]').value) {
                alert('You must provide your first name!');
                return false;
            }
            // Check if last name was provided
            else if (!document.querySelector('input[name="last-name"]').value) {
                alert('You must provide your last name!');
                return false;
            }
            // Check if grade was selected
            else if (!document.querySelector('select').value) {
                alert('You must provide your grade!');
                return false;
            }
            // Check if favorite meal was selected
            else if (!document.querySelector('input[name="meal"]:checked')) {
                alert('You must provide your favorite meal!');
                return false;
            }
            return true;
        };
    </script>
{% endblock %}